@model ICollection<Notifications>

<head>
    <link rel="stylesheet" href="~/css/Notification/Index.css" />
</head>
@{ 
    bool isAdmin = User.IsInRole(PublicUtilities.Data.UserRoles.Admin);
}

<div id="frame-location">
    <svg style="z-index: 2" xmlns="http://www.w3.org/2000/svg" width="170" height="53" viewBox="0 0 143 53" fill="none">
        <path d="M0.934875 0.0260391H124.74L142.648 26.5L124.74 52.974H0.934875V0.0260391Z" fill="url(#paint0_linear_53_35)" />
        <defs>
            <linearGradient id="paint0_linear_53_35" x1="0.934876" y1="26.5" x2="142.648" y2="26.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-item">
            <text x="-15" y="30" fill="blue" class="frame-location-text">Комунальні послунги</text>
        </a>
    </svg>
    <svg style="margin-left: -40px" xmlns="http://www.w3.org/2000/svg" width="142" height="53" viewBox="0 0 142 53" fill="none">
        <path d="M0.0500488 0H123.275L141.1 26.35L123.275 52.7H0.0500488V0Z" fill="url(#paint0_linear_103_80)" />
        <defs>
            <linearGradient id="paint0_linear_103_80" x1="0.0500494" y1="26.35" x2="141.1" y2="26.35" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <text x="40" y="30" fill="blue" class="frame-location-text">Сповіщення</text>
    </svg>
</div>
<div id="page-name-header">
    <div class="page-name-header-frame">
        <div class="page-name-header-greenbox"></div>
        <div class="page-name-header-text">Сповіщення</div>
    </div>
</div>
<div class="mian-frame">
    <div class="mian-frame-frame">
        <div class="main-text-frame">
            <p class="main-text-frame-header">Вітаємо на сторінці  сповіщень</p>
            <p class="main-text-frame-text">
                На цій сторінці ви можете переглянути свої сповіщення
            </p>
        </div>
        <div class="mian-frame-line"></div>
        @if (isAdmin)
        {
            <div class="main-btn-frame">
                <a asp-action="Create" class="main-btn-sigin nav-link">Створити сповіщення</a>
            </div>
        }
        <div class="main-frame">
            @if (isAdmin)
            {

                @foreach (var item in Model)
                {
                    <div class="main-section">
                        @if (item.Streets == null)
                        {
                            <p class="main-text-header">Увага!</p>
                        }
                        else
                        {
                            <p class="main-text-header">@item.Streets @item.House @item.Apartment</p>
                        }
                        <div class="mian-frame-line"></div>
                        <div class="main-section-text-frame">
                            <p class="main-header">@item.Header</p>
                            <p class="main-text-date">Дата: @item.Date.ToShortDateString()</p>
                        </div>
                        <div class="main-section-text-frame">
                            <p class="main-text">@item.Text</p>
                        </div>
                        <div class="main-btn-frame">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="main-btn-sigin nav-link">Редагувати</a>
                        </div>
                    </div>
                }
            }
            else
            {
                @foreach (var item in Model)
                {
                    <div class="main-section">
                        @if (item.Streets == null)
                        {
                            <p class="main-text-header">Увага!</p>
                        }
                        else
                        {
                            <p class="main-text-header">@item.Streets @item.House @item.Apartment</p>
                        }
                        <div class="mian-frame-line"></div>
                        <div class="main-section-text-frame">
                            <p class="main-header">@item.Header</p>
                            <p class="main-text-date">Дата: @item.Date.ToShortDateString()</p>
                        </div>
                        <div class="main-section-text-frame">
                            <p class="main-text">@item.Text</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>