@model News

<head>
    <link rel="stylesheet" href="~/css/News/Details.css" />
</head>

<div id="frame-location">
    <svg style="z-index: 2" xmlns="http://www.w3.org/2000/svg" width="170" height="53" viewBox="0 0 143 53" fill="none">
        <path d="M0.934875 0.0260391H124.74L142.648 26.5L124.74 52.974H0.934875V0.0260391Z" fill="url(#paint0_linear_53_35)" />
        <defs>
            <linearGradient id="paint0_linear_53_35" x1="0.934876" y1="26.5" x2="142.648" y2="26.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-item">
            <text x="-15" y="30" fill="blue" class="frame-location-text">Комунальні послунги</text>
        </a>
    </svg>
    <svg style="margin-left: -60px; z-index: 1;" xmlns="http://www.w3.org/2000/svg" width="142" height="53" viewBox="0 0 142 53" fill="none">
        <path d="M0.0500488 0H123.275L141.1 26.35L123.275 52.7H0.0500488V0Z" fill="url(#paint0_linear_103_80)" />
        <defs>
            <linearGradient id="paint0_linear_103_80" x1="0.0500494" y1="26.35" x2="141.1" y2="26.35" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <a class="nav-link " asp-area="" asp-controller="News" asp-action="Index" id="nav-item">
            <text x="60" y="30" fill="blue" class="frame-location-text">Новини</text>
        </a>
    </svg>
    <svg style="margin-left: -40px;" xmlns="http://www.w3.org/2000/svg" width="142" height="53" viewBox="0 0 142 53" fill="none">
        <path d="M0.0500488 0H123.275L141.1 26.35L123.275 52.7H0.0500488V0Z" fill="url(#paint0_linear_103_80)" />
        <defs>
            <linearGradient id="paint0_linear_103_80" x1="0.0500494" y1="26.35" x2="141.1" y2="26.35" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <text x="50" y="30" fill="blue" class="frame-location-text">Публікація</text>
    </svg>
</div>
<div id="page-name-header">
    <div class="page-name-header-frame">
        <div class="page-name-header-greenbox"></div>
        <div class="page-name-header-text">Публікація</div>
    </div>
</div>

<div class="mian-frame">
    <div class="mian-frame-frame">
        <p class="news-header">@Model.Header</p>
        <p class="news-date">Опубліковано: @Model.Date.ToShortDateString() о @Model.Date.ToShortTimeString()</p>
        <div class="news-box"> 
            <figure>
            <img src="@Model.ImageUrl" class="news-image" alt="image" />
                <figcaption class="news-text">@Model.Text</figcaption>
            </figure>
        </div>
    </div>
</div>
