@model ICollection<News>

@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/Home/Index.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="frame-2">
    <a asp-area="" asp-controller="Payment" asp-action="Water" class="big-button nav-link">
        <div class="big-button-main-text">Комунальні Платежі</div>
        <svg class="big-button-img" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
            <path d="M7.02484 7.01677C6.57953 7.44353 6.56097 7.55486 6.56097 9.98552V12.4904H22.8891H39.2172V9.52165V6.5529H23.353H7.47015L7.02484 7.01677Z" fill="#curentcolor" />
            <path d="M42.186 22.881V39.2092H48.1235H54.061V22.881V6.5529H48.1235H42.186V22.881Z" fill="#curentcolor" />
            <path d="M57.0297 9.52165V12.4904H73.3578H89.686V9.98552C89.686 7.55486 89.6674 7.44353 89.2221 7.01677L88.7768 6.5529H72.894H57.0297V9.52165Z" fill="#curentcolor" />
            <path d="M6.56097 18.4279V21.3967H22.8891H39.2172V18.4279V15.4592H22.8891H6.56097V18.4279Z" fill="#curentcolor" />
            <path d="M57.0297 18.4279V21.3967H73.3578H89.686V18.4279V15.4592H73.3578H57.0297V18.4279Z" fill="#curentcolor" />
            <path d="M6.56097 27.3342V30.3029H22.8891H39.2172V27.3342V24.3654H22.8891H6.56097V27.3342Z" fill="#curentcolor" />
            <path d="M57.0297 27.3342V30.3029H73.3578H89.686V27.3342V24.3654H73.3578H57.0297V27.3342Z" fill="#curentcolor" />
            <path d="M6.56097 36.3517V39.4318L6.98773 39.3205C7.21039 39.2648 14.558 39.2092 23.3159 39.2092H39.2172V36.2404V33.2717H22.8891H6.56097V36.3517Z" fill="#curentcolor" />
            <path d="M57.0297 36.2404V39.2092H72.9496C81.6889 39.2092 89.0366 39.2648 89.2778 39.3205L89.686 39.4318V36.3517V33.2717H73.3578H57.0297V36.2404Z" fill="#curentcolor" />
            <path d="M7.02484 42.6418L6.56097 43.0871V61.4748V79.8625L7.02484 80.3078L7.47015 80.7717H27.8989H48.309L47.6782 79.5099C46.9174 78.007 46.0268 75.5021 45.7299 74.0734L45.5073 73.0529L44.4311 72.7189C42.7797 72.2179 41.1284 71.1789 39.6625 69.7131C33.9662 63.9426 35.6733 54.3498 43.0209 50.7873C45.9711 49.3586 49.7934 49.2287 52.6323 50.4904L53.4301 50.8429L54.6176 49.9709C62.8373 43.7736 73.8774 43.5695 82.4682 49.4328C84.435 50.7873 87.311 53.7004 88.5727 55.6486C89.0922 56.4465 89.5561 57.1515 89.6118 57.1886C89.6489 57.2258 89.686 54.0715 89.686 50.175V43.0871L89.2221 42.6418L88.7768 42.1779H48.1235H7.47015L7.02484 42.6418ZM33.2797 46.631V48.1154H25.8022H18.3246L18.1205 48.9133C17.768 50.2492 16.5063 51.9006 15.2446 52.7541C14.6137 53.1808 13.7416 53.6076 13.2963 53.7375L12.4985 53.9416V61.5119C12.4985 68.5998 12.517 69.0822 12.8325 69.0822C13.4819 69.0822 15.4116 70.1584 16.2465 71.0119C17.1186 71.8654 18.2504 73.8508 18.2504 74.5002C18.2504 74.8156 18.5844 74.8342 25.7651 74.8342H33.2797V76.3185V77.8029H24.3735H15.4672V76.5412C15.4487 73.6467 13.6674 71.8654 10.7914 71.8654H9.52972V61.4748V51.0842H10.7914C13.6674 51.0842 15.4487 49.3029 15.4672 46.3898V45.1467H24.3735H33.2797V46.631ZM33.2797 61.4748V62.9592H28.8266H24.3735V61.4748V59.9904H28.8266H33.2797V61.4748Z" fill="#curentcolor" />
            <path d="M65.5649 48.3937C60.4438 49.2101 55.5083 52.1789 52.3725 56.3166C43.1694 68.5441 49.7192 85.967 64.7299 89.2326C67.9956 89.9377 72.0405 89.715 75.3803 88.6203C87.0883 84.8166 92.9702 71.2902 87.7192 60.1945C85.5854 55.6672 82.5053 52.5314 78.0893 50.342C74.0444 48.3381 69.9438 47.7072 65.5649 48.3937ZM62.8003 53.9787C63.4497 54.2384 64.062 54.5168 64.1362 54.591C64.2104 54.6838 63.1899 57.4855 61.8354 60.8439C60.4995 64.2023 59.3676 67.0597 59.312 67.1711C59.2378 67.3566 60.0356 67.4123 62.9301 67.4123H66.6411L63.2827 75.799C61.4458 80.4191 59.9243 84.2228 59.9057 84.2414C59.8501 84.3156 57.5122 83.3508 57.3452 83.2023C57.271 83.1095 58.2915 80.3078 59.646 76.9494C60.9819 73.591 62.1137 70.7336 62.1694 70.6037C62.2436 70.4367 61.4458 70.381 58.5512 70.381H54.8403L58.1987 61.9386C60.0542 57.3 61.5756 53.4963 61.5942 53.4963C61.5942 53.4963 62.1323 53.7189 62.8003 53.9787ZM79.2954 55.5373V57.0216H78.5532H77.811V58.506V59.9904H80.0376H82.2641V61.4748V62.9591H77.811H73.3579V64.4435V65.9279H71.8735H70.3891V62.9591V59.9904H72.6157H74.8422V58.506V57.0216H74.1001H73.3579V55.5373V54.0529H76.3266H79.2954V55.5373ZM74.7866 72.2922C76.2338 74.8527 77.5141 77.3761 77.644 77.8586C78.3305 80.6232 76.9389 83.6105 74.3784 84.8722C73.6176 85.2433 73.1723 85.3175 71.8735 85.3175C70.5747 85.3175 70.1294 85.2433 69.3686 84.8722C66.8081 83.6105 65.4165 80.6232 66.103 77.8586C66.3071 77.0236 71.7622 67.5978 72.0405 67.5978C72.0961 67.5978 73.3393 69.7131 74.7866 72.2922Z" fill="#curentcolor" />
            <path d="M70.4633 75.799C69.0532 78.1554 68.9975 78.3039 68.9975 79.4172C68.9975 81.2912 70.0366 82.3488 71.8735 82.3488C73.7104 82.3488 74.7495 81.2912 74.7495 79.4172C74.7495 78.341 74.6567 78.1183 73.562 76.133C72.894 74.964 72.2631 73.8508 72.1518 73.6652C71.9477 73.3869 71.7436 73.6467 70.4633 75.799Z" fill="#curentcolor" />
            <path d="M45.9155 52.8468C41.1841 54.1828 38.3081 59.007 39.4956 63.6086C40.1264 66.0021 41.9262 68.2843 44.0044 69.342C44.5239 69.6017 45.0063 69.8244 45.062 69.8244C45.1176 69.8244 45.1548 69.2677 45.1548 68.5998C45.1548 63.6271 47.2143 57.9679 50.4985 53.923L51.1294 53.1252L50.6098 52.9211C49.7192 52.5685 47.0473 52.5314 45.9155 52.8468Z" fill="#curentcolor" />
        </svg>
        <div class="big-button-seccondary-text">Сплата усіх комунальні послуг</div>
    </a>
    <a asp-area="" asp-controller="Indicators" asp-action="Index" class="big-button nav-link">
        <div class="big-button-main-text">Передача Показів</div>
        <svg class="big-button-img" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
            <path d="M43.217 11.4885C24.8664 13.9191 11.1174 29.6164 11.1174 48.1154C11.1174 65.0929 22.6213 79.8068 39.1164 83.9259C47.7629 86.0968 56.8176 85.0578 64.8332 80.9943C77.1535 74.7228 84.965 61.9758 84.965 48.1525C84.9465 31.175 73.4982 16.4611 57.0402 12.3049C52.8098 11.2287 47.5031 10.9133 43.217 11.4885ZM52.9767 15.7375C66.466 17.7414 77.3019 28.0763 80.1594 41.6584C80.7346 44.3674 80.8644 50.008 80.4377 52.8654C79.3615 59.842 76.4113 65.8351 71.55 70.882C69.6017 72.9045 69.0637 73.2013 68.1359 72.756C67.5236 72.4592 67.0783 71.6242 67.2267 71.049C67.2824 70.8078 68.0617 69.88 68.9523 68.9523C74.8713 62.8849 77.84 55.2033 77.4875 46.8351C76.9123 33.1974 67.3937 22.0646 53.7932 19.1515C52.1232 18.7804 51.2883 18.7248 48.0412 18.7248C44.8127 18.7248 43.9592 18.7804 42.3449 19.133C30.3215 21.7306 21.6379 30.3957 19.0773 42.3634C18.7062 44.0334 18.6506 44.8683 18.6506 48.1154C18.6506 52.3273 18.9103 54.0529 20.0793 57.5783C22.881 66.0949 30.0803 73.2756 38.6711 76.1144C42.0666 77.2463 43.8478 77.506 48.0412 77.506C51.2883 77.506 52.1232 77.4504 53.7932 77.0793C56.298 76.5412 58.6359 75.7619 60.8254 74.7228C62.8107 73.7951 63.2189 73.7394 63.9055 74.3332C64.6476 74.964 64.6291 76.0031 63.8869 76.6711C62.4767 77.9328 56.6877 79.9367 52.8469 80.5119C49.8967 80.9386 44.2746 80.8088 41.5842 80.2336C28.0392 77.3761 17.6672 66.5217 15.6818 53.0881C15.2922 50.5461 15.2922 45.7033 15.6633 43.1799C17.7971 28.8 29.468 17.4631 44.0519 15.589C45.6291 15.3849 51.2141 15.4777 52.9767 15.7375ZM53.1252 24.4396C53.9416 24.7736 54.2941 25.6271 53.9787 26.4064C53.5519 27.4455 53.1808 27.5197 48.0412 27.5197C42.9016 27.5197 42.5305 27.4455 42.1037 26.4064C41.7883 25.6457 42.1408 24.7736 42.9201 24.4396C43.7551 24.0871 52.2531 24.0685 53.1252 24.4396ZM69.3791 31.8058C70.3996 32.1769 70.4924 32.6779 70.4924 37.6877C70.4924 42.5304 70.3996 43.1427 69.5461 43.5695C68.7668 43.9777 27.3156 43.9777 26.5363 43.5695C25.6828 43.1427 25.59 42.5304 25.59 37.7248C25.59 32.8263 25.6828 32.2697 26.592 31.8615C27.3713 31.5275 68.4142 31.4719 69.3791 31.8058ZM33.1232 48.4865C37.2238 50.2863 37.3166 56.0754 33.2902 58.0422C32.4924 58.4318 32.0285 58.5431 30.9709 58.5431C28.7629 58.5431 27.0002 57.3927 26.1096 55.3888C25.6457 54.3683 25.6271 52.383 26.0353 51.3625C27.2228 48.5422 30.3771 47.2619 33.1232 48.4865ZM67.468 48.5978C69.3049 49.4884 70.3439 51.1769 70.3439 53.3107C70.3439 56.3351 68.1545 58.5431 65.1486 58.5431C62.0871 58.5431 59.842 56.3351 59.842 53.3107C59.8234 49.34 63.8498 46.8537 67.468 48.5978ZM49.2658 48.6164C50.3976 49.9152 56.6877 58.8957 57.0773 59.7677C59.6379 65.5011 54.8693 71.9025 48.0412 71.9025C45.3322 71.9025 42.9943 70.9933 41.009 69.1564C38.4299 66.7814 37.6135 62.922 39.0051 59.7677C39.4133 58.8957 45.6848 49.9152 46.8166 48.6164C47.1691 48.2267 47.4289 48.1154 48.0412 48.1154C48.6535 48.1154 48.9133 48.2267 49.2658 48.6164Z" fill="#curentcolor" />
            <path d="M28.9299 37.7248V40.508H32.4553H35.9807V37.7248V34.9416H32.4553H28.9299V37.7248Z" fill="#curentcolor" />
            <path d="M39.3205 37.7248V40.508H42.8459H46.3713V37.7248V34.9416H42.8459H39.3205V37.7248Z" fill="#curentcolor" />
            <path d="M49.7111 37.7248V40.508H53.2365H56.7619V37.7248V34.9416H53.2365H49.7111V37.7248Z" fill="#curentcolor" />
            <path d="M60.1017 37.7248V40.508H63.6271H67.1525V37.7248V34.9416H63.6271H60.1017V37.7248Z" fill="#curentcolor" />
            <path d="M29.5607 51.9006C29.0412 52.4201 28.9299 52.6799 28.9299 53.3107C28.9299 53.9416 29.0412 54.2013 29.5607 54.7209C30.0803 55.2404 30.34 55.3517 30.9709 55.3517C31.6017 55.3517 31.8615 55.2404 32.381 54.7209C32.9006 54.2013 33.0119 53.9416 33.0119 53.3107C33.0119 52.6799 32.9006 52.4201 32.381 51.9006C31.8615 51.381 31.6017 51.2697 30.9709 51.2697C30.34 51.2697 30.0803 51.381 29.5607 51.9006Z" fill="#curentcolor" />
            <path d="M63.7014 51.9006C63.1818 52.4201 63.0705 52.6799 63.0705 53.3107C63.0705 53.9416 63.1818 54.2013 63.7014 54.7209C64.2209 55.2404 64.4807 55.3517 65.1115 55.3517C65.7424 55.3517 66.0021 55.2404 66.5217 54.7209C67.0412 54.2013 67.1525 53.9416 67.1525 53.3107C67.1525 52.6799 67.0412 52.4201 66.5217 51.9006C66.0021 51.381 65.7424 51.2697 65.1115 51.2697C64.4807 51.2697 64.2209 51.381 63.7014 51.9006Z" fill="#curentcolor" />
            <path d="M45.0724 56.5021C43.5139 58.673 42.0851 60.7697 41.8996 61.1965C41.6955 61.6418 41.5471 62.3654 41.5471 63.0519C41.5471 65.1486 42.8273 66.967 45.0724 68.0431C46.1672 68.5627 46.4455 68.6183 48.0412 68.6183C49.5812 68.6183 49.9523 68.5441 50.9172 68.0988C53.8488 66.7258 55.3146 63.6642 54.1828 61.1965C53.7932 60.3429 48.2639 52.5685 48.0412 52.5685C47.967 52.5685 46.631 54.3312 45.0724 56.5021ZM49.5441 61.9572C50.6017 62.9592 50.6389 64.4064 49.6369 65.3527C47.8371 67.0412 44.8683 65.0187 45.9445 62.8293C46.6867 61.2892 48.4123 60.8625 49.5441 61.9572Z" fill="#curentcolor" />
            <path d="M3.6955 48.1154V65.7424H7.75897H11.841L11.0246 63.8127C6.73846 53.5519 6.73846 42.6789 11.0246 32.4181L11.841 30.4884H7.75897H3.6955V48.1154Z" fill="#curentcolor" />
            <path d="M85.0764 32.4738C88.7502 41.2502 89.2697 50.7316 86.5422 59.6935C85.9855 61.5304 85.5959 62.5509 84.5197 65.0373L84.2228 65.7424H88.3049H92.3869V48.1154V30.4884H88.3234H84.2414L85.0764 32.4738Z" fill="#curentcolor" />
        </svg>
        <div class="big-button-seccondary-text">Передача усіх показів </div>
    </a>
    <a asp-area="" asp-controller="Statements" asp-action="MyStatements" class="big-button nav-link">
        <div class="big-button-main-text">Мої Заяви</div>
        <svg class="big-button-img" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96" fill="none">
            <path d="M38.997 3.7697C37.1044 4.25213 35.082 5.99627 34.4511 7.7033L34.08 8.6867L30.3134 8.77947C26.4169 8.87224 25.8974 8.96502 25.5077 9.7072C25.3964 9.91131 25.3222 11.6183 25.3222 13.882C25.3222 18.0383 25.415 18.5392 26.3427 18.9474C26.955 19.2258 54.1747 19.2629 54.8984 18.9845C55.8818 18.6135 56.0302 18.0754 56.0859 14.6428C56.1786 10.7463 56.0673 10.0041 55.3808 9.299L54.8612 8.77947H51.039C48.4599 8.77947 47.2167 8.72381 47.2167 8.57537C47.2167 8.03728 46.122 6.25603 45.3241 5.51385C44.0624 4.3449 42.6337 3.71404 41.0195 3.65838C40.2958 3.62127 39.3866 3.67693 38.997 3.7697ZM41.372 7.55486C41.706 7.7033 42.0771 7.98162 42.1884 8.18572C42.4853 8.72381 42.4482 9.74431 42.1142 10.2082C41.7431 10.7463 40.7226 11.0617 40.1288 10.839C39.4794 10.5978 38.8671 9.76287 38.8671 9.15056C38.8671 8.37127 39.7948 7.36931 40.5927 7.31365C40.6669 7.2951 41.0195 7.40642 41.372 7.55486Z" fill="#curentcolor" />
            <path d="M8.32609 11.5441C7.39836 11.9709 6.26652 13.2697 6.08098 14.1418C5.89543 15.0138 5.89543 88.8244 6.08098 89.6965C6.26652 90.5685 7.39836 91.8674 8.32609 92.2941C9.04973 92.6281 10.2001 92.6467 34.0243 92.6467H58.9804L57.5888 91.7004C56.8281 91.1808 55.6591 90.2531 54.9726 89.6593L53.748 88.5646H32.3915H11.0536L10.5341 88.1193L10.0146 87.674V51.9562V16.2384L10.4599 15.756L10.9052 15.2736H16.6386H22.3534V13.2326V11.1916H15.7294C9.68059 11.1916 9.01262 11.2287 8.32609 11.5441Z" fill="#curentcolor" />
            <path d="M59.0917 13.2326V15.2736H64.7509H70.4286L70.8739 15.7375L71.3378 16.1828V33.2717V50.342H72.0429C72.414 50.3605 73.3417 50.4718 74.0839 50.6017L75.4198 50.8244L75.3827 32.4367L75.3271 14.0304L74.7704 13.1213C74.3437 12.4347 73.954 12.0822 73.2118 11.6926L72.1913 11.1916H65.6415H59.0917V13.2326Z" fill="#curentcolor" />
            <path d="M13.5956 18.7804L12.9833 19.3185V51.9191V84.5197L13.5956 85.0578L14.1894 85.5959H32.8554H51.5029L51.1503 85.0763C50.5195 84.1857 49.3134 81.6623 48.7939 80.0851L48.2743 78.5451H34.1357C19.5331 78.5451 19.0321 78.5265 18.6425 77.8029C18.3827 77.3019 18.4198 76.4484 18.7167 76.0217C18.9765 75.6877 19.4032 75.6691 33.3193 75.5763L47.6435 75.4836L47.6806 72.9787C47.6991 71.6056 47.7734 70.0285 47.8661 69.4904L48.0146 68.5256H34.0058C19.5517 68.5256 19.0321 68.507 18.6425 67.7834C18.3456 67.2082 18.4384 66.3176 18.828 65.9279C19.1991 65.5568 19.4404 65.5568 34.0243 65.5568H48.8495L49.2577 64.4992C49.8515 62.9963 50.9833 60.9552 51.9482 59.6379L52.7831 58.506H36.3808C24.8954 58.506 19.83 58.4504 19.4032 58.3019C19.0878 58.1906 18.7353 57.9494 18.6425 57.7638C18.3456 57.1886 18.4384 56.298 18.828 55.9084C19.1991 55.5373 19.4404 55.5373 37.4384 55.5373H55.6777L57.1435 54.4982C59.9638 52.5314 63.1552 51.1955 66.4023 50.6203C67.3114 50.4718 68.1279 50.342 68.2021 50.342C68.4804 50.342 68.4062 19.8381 68.1464 19.2629C67.7197 18.3351 67.2558 18.2424 62.9511 18.2424L58.9989 18.2609L58.4423 19.4113C57.83 20.673 56.7353 21.5822 55.3808 21.9533C54.8984 22.0832 49.7773 22.1388 40.2216 22.1017C25.8232 22.0461 25.7861 22.0461 25.0439 21.6379C24.0419 21.0998 23.1884 20.1906 22.7245 19.1144L22.3349 18.2424H18.2714H14.1894L13.5956 18.7804ZM62.5429 25.9054C63.081 26.5363 63.1181 27.1301 62.5986 27.7795L62.2275 28.2619H40.704C19.4404 28.2619 19.1991 28.2619 18.828 27.8908C18.457 27.5197 18.3456 26.7218 18.5683 26.1281C18.9023 25.2931 18.6425 25.3117 40.9638 25.3488L62.0976 25.3859L62.5429 25.9054ZM62.5429 35.925C63.081 36.5558 63.1181 37.1496 62.5986 37.799L62.2275 38.2814H40.704C19.4404 38.2814 19.1991 38.2814 18.828 37.9103C18.457 37.5392 18.3456 36.7414 18.5683 36.1476C18.9023 35.3127 18.6425 35.3127 40.9638 35.3683L62.0976 35.4054L62.5429 35.925ZM62.5429 45.9445C63.081 46.5754 63.1181 47.1691 62.5986 47.8185L62.2275 48.3009H40.704C19.4404 48.3009 19.1991 48.3009 18.828 47.9299C18.457 47.5588 18.3456 46.7609 18.5683 46.1672C18.9023 45.3322 18.6425 45.3322 40.9638 45.3879L62.0976 45.425L62.5429 45.9445Z" fill="#curentcolor" />
            <path d="M66.3281 53.6818C63.3779 54.3127 60.5761 55.5929 58.3866 57.2629C56.7353 58.5431 54.4531 61.0666 53.4511 62.7551C47.0497 73.424 51.9667 87.2844 63.6376 91.4592C68.7587 93.2775 74.1396 92.9621 79.038 90.5314C86.3486 86.8947 90.5605 79.3986 89.874 71.2345C89.1318 62.4396 82.6191 55.2404 73.8798 53.589C71.8573 53.1994 68.3134 53.2551 66.3281 53.6818ZM81.7099 63.6086C82.8417 63.9982 83.6396 64.6847 84.2333 65.7795C84.9384 67.0783 84.9755 68.7668 84.3447 70.0099C84.0663 70.5295 81.4872 73.2756 77.1083 77.7101C73.3788 81.4767 70.1503 84.7238 69.9091 84.9094C69.204 85.4845 68.2392 85.7814 67.1073 85.7814C65.289 85.7814 64.6396 85.3361 60.2792 80.9201C56.7538 77.3576 56.3271 76.8752 56.0302 75.966C54.9726 72.7189 57.496 69.5275 60.873 69.8801C62.2831 70.0285 62.8583 70.3996 65.122 72.6261L67.1816 74.6486L71.9687 69.7316C74.6034 67.0226 77.0527 64.592 77.3866 64.3136C78.6484 63.3488 80.2626 63.089 81.7099 63.6086Z" fill="#curentcolor" />
            <path d="M73.6572 72.2365C68.2021 77.673 67.664 78.174 67.0888 78.174C66.5322 78.174 66.1611 77.8771 63.7304 75.4836C61.3554 73.1457 60.9286 72.7931 60.4091 72.7931C59.5741 72.7931 58.7206 73.6652 58.7206 74.4816C58.7206 75.0383 59.1103 75.5021 62.58 78.9533C66.2909 82.6642 66.4579 82.8127 67.163 82.8127C67.8866 82.8312 67.998 82.7199 74.6405 76.0031C78.3329 72.2551 81.4872 68.9338 81.6542 68.6554C82.2294 67.5978 81.413 66.299 80.1884 66.299C79.6689 66.299 78.8896 67.0226 73.6572 72.2365Z" fill="#curentcolor" />
        </svg>
        <div class="big-button-seccondary-text">Перегляд та подання заяв</div>
    </a>
    <a asp-area="" asp-controller="ContactUs" asp-action="Index" class="big-button nav-link">
        <div class="big-button-main-text">Зв'язок з Нами</div>
        <svg class="big-button-img" xmlns="http://www.w3.org/2000/svg" width="101" height="101" viewBox="0 0 101 101" fill="none">
            <path d="M55.8571 11.3576L49.4118 17.8029L51.072 19.4631L52.7321 21.1232L59.2165 14.6388L65.7204 8.13493L64.1188 6.53337C63.2204 5.63493 62.4587 4.91228 62.4001 4.91228C62.3415 4.91228 59.3923 7.8029 55.8571 11.3576Z" fill="#curentcolor" />
            <path d="M61.3259 16.8263L54.8806 23.2716L56.2087 24.5998L57.5173 25.9279V27.1193C57.5173 30.1857 55.7399 35.6349 53.8259 38.4865C53.6306 38.7599 53.0837 39.6193 52.5759 40.381C47.4391 48.3888 36.9118 55.1076 29.529 55.1076H28.3376L27.0095 53.799L25.6813 52.4709L19.236 58.9162L12.7907 65.3615L13.9235 66.4943C16.2868 68.8967 20.8571 70.6154 26.3259 71.1427C32.2829 71.7092 39.0993 70.3029 45.5641 67.1779L47.5563 66.2013V60.6545V55.1076H54.5485H61.5407L62.7126 53.6818C68.3181 46.9826 71.8532 39.6974 73.279 31.8654C73.7868 29.0529 73.7477 23.4279 73.1813 20.7912C72.3024 16.6896 70.7399 13.1935 68.9821 11.3966C68.4352 10.8498 67.9274 10.381 67.8688 10.381C67.8102 10.381 64.861 13.2716 61.3259 16.8263Z" fill="#curentcolor" />
            <path d="M25.2907 11.7482C23.5915 11.9826 22.5759 12.3146 20.9157 13.174C18.7673 14.2873 15.9743 17.0998 15.1931 18.9162C14.1579 21.3967 13.8259 25.3224 14.4509 27.6662C15.7009 32.3537 19.3728 35.967 24.0212 37.0607C25.9157 37.4904 29.2165 37.3537 30.9548 36.7677C33.7282 35.8107 36.5407 33.5842 37.947 31.2209C39.1384 29.2482 39.6071 27.549 39.7048 25.0099C39.8024 22.4709 39.529 21.0646 38.5915 19.0724C37.3024 16.3185 35.2126 14.2482 32.4196 12.9201C30.0954 11.8263 27.5954 11.4162 25.2907 11.7482ZM33.8845 20.4396L34.9587 21.5138L30.3103 26.1623L25.6813 30.7912L22.322 27.4318L18.9431 24.0529L20.0173 22.9787L21.0915 21.9045L23.3767 24.1896L25.6813 26.4943L29.1579 22.9592C31.0524 21.006 32.654 19.4045 32.7126 19.3849C32.7712 19.3849 33.2985 19.8537 33.8845 20.4396Z" fill="#curentcolor" />
            <path d="M13.7087 53.506L7.32196 59.8927L8.98212 61.5529L10.6423 63.2131L17.0876 56.7677L23.5329 50.3224L21.9313 48.7209C21.0329 47.8224 20.2712 47.0998 20.2126 47.0998C20.154 47.0998 17.2243 49.9709 13.7087 53.506Z" fill="#curentcolor" />
            <path d="M50.6813 72.0998V85.967H55.4665H60.2516L60.2907 90.2834L60.3493 94.5802L65.9938 90.2834L71.6579 85.967H83.7282H95.7985V72.0998V58.2326H73.2399H50.6813V72.0998ZM75.8766 64.3849V65.8498H65.7204H55.5641V64.3849V62.9201H65.7204H75.8766V64.3849ZM90.1345 71.6115V73.0763H72.8493H55.5641V71.6115V70.1467H72.8493H90.1345V71.6115ZM90.1345 78.9357V80.4982L72.9079 80.4592L55.6618 80.4006L55.6032 78.8771L55.5446 77.3732H72.8493H90.1345V78.9357Z" fill="#curentcolor" />
        </svg>
        <div class="big-button-seccondary-text">Виникла проблема? Зателефонуйте в гарячу лінію, яка працює 24/7</div>
    </a>
</div>
<div class="frame-3">
    <div class="frame-3-grid">
        <a asp-area="" asp-controller="GarbageRemoval" asp-action="Index" class="frame-3-grid-item nav-link">Графік вивозу сміття</a>
        <a asp-area="" asp-controller="Tariffs" asp-action="Index" class="frame-3-grid-item nav-link">Тарифи</a>
        <a asp-area="" asp-controller="Notification" asp-action="Index" class="frame-3-grid-item nav-link">Сповіщення</a>
        <a asp-area="" asp-controller="Statistic" asp-action="Water" class="frame-3-grid-item nav-link">Статистика</a>
    </div>
</div>
<div id="frame-location" style="margin-top: -10px">
    <svg style="z-index: 2" xmlns="http://www.w3.org/2000/svg" width="170" height="53" viewBox="0 0 143 53" fill="none">
        <path d="M0.934875 0.0260391H124.74L142.648 26.5L124.74 52.974H0.934875V0.0260391Z" fill="url(#paint0_linear_53_35)" />
        <defs>
            <linearGradient id="paint0_linear_53_35" x1="0.934876" y1="26.5" x2="142.648" y2="26.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#EDEDED" />
                <stop offset="1" stop-color="white" />
            </linearGradient>
        </defs>
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index" id="nav-item">
            <text x="-15" y="30" fill="blue" class="frame-location-text">Комунальні послунги</text>
        </a>
    </svg>
</div>
<div id="page-name-header">
    <div class="page-name-header-frame">
        <div class="page-name-header-greenbox"></div>
        <div class="page-name-header-text">
            Новини та оновлення
        </div>
    </div>
</div>
<div class="news">
    <div class="news-grid">
        @foreach(var item in Model)
        {
            int point = item.Text.IndexOf('.');
            <a asp-action="Details" asp-controller="News" asp-route-id="@item.Id" class="news-block nav-link">
                <div class="news-block-frame">
                    <img src="@item.ImageUrl" class="news-block-frame-image" />
                    <div class="news-block-text-frame">
                        <p class="news-block-text-header">@item.Header</p>
                        <p class="news-block-text-date">Опубліковано: @item.Date.ToShortDateString() о @item.Date.ToShortTimeString()</p>
                        <p class="news-block-text">@item.Text</p>
                        <div class="news-block-text-more">Детальніше</div>
                    </div>
                </div>
            </a>
        }
    </div>
    <a asp-action="Index" asp-controller="News" class="news-btn nav-link">Перегляньте всі новини та оновлення</a>
</div>
